*{
    margin: 0;
    box-sizing: border-box;
}

.contain{
    width: 25%;
    height: 25%;
    background-color: teal;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid;
    position: relative;
    overflow: hidden;
}

.contain img{
    width: 100%;
    transition: all 1s 1s;
}

.main{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 1s;
}

.main h3, p, i{
    position: relative;
    left: 110%;
    transition: all 1s 2s;
    margin-bottom: 10px;
}

.contain:hover .main{
    opacity: 1;
    transform: rotate(360deg);
}

.contain:hover img{
    transform: scale(1.3);
}

.contain:hover h3, .contain:hover p, .contain:hover i{
    left: 0;
}

@media (max-width: 768px) {
    .contain {
        width: 50%;
        height: auto;
        float: none;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .contain {
        width: 100%;
        height: auto;
        float: none;
        margin-bottom: 20px;
    }
}
